/target
.env
.env.doppler

# frontend
/frontend/node_modules
/frontend/dist

# local dev secrets download from doppler
infra/docker/.env.doppler
/frontend/tsconfig.tsbuildinfo
/node_modules
THOUGHT_PROCESS.md
docs/pitch-deck/LabhSathi_Pitch_Deck.pptx
